@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}
